@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.7rem;
}
.logo-icon{
    height: 5.78rem;
    width:1.98rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap:1.5rem;
}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-bet{
    color:#718096;
    font-size: 1.2rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-bet:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.376rem;
    background-color: var(--primary-color);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.76rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: rgb(28, 28, 115);
}
.menu-button{
    display: none;
    border:none;
    border-radius: 0.376rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height:1.5rem;
    width: 1.5rem;
}
.main-section{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    margin: 0 auto;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {

    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--link-color);
}
.section-title{
    font-size: 2.3rem;
    color: var(--text-color);
    padding: 1.1rem;
}
.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.button-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:1rem ;
    gap: 2rem;
    padding: 1rem;
}
.start-button{
    border: none;
    border-radius: 0.376rem;
    background-color: var(--primary-color);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.76rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
    border: none;
    border-radius: 0.376rem;
    background-color: var(--dark-gray);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.76rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: grey;
}
.content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container{
    border:none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.image-section{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
        font-size: 3rem;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-description{
        font-size: 1rem;
        color: var(--gray);
        width:78%;
    }
    .button-group{
        justify-content: start;
        flex-direction: row;
        padding-left: 0;
    }
    .image-container{
        height: 67vh;
    }
}
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}
.company-grid{
    border: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 1.8rem 2.5rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}
.svg-img{
    height: 1.56rem;
    
}
.loogo-text{
    font-size: 1rem;
}
@media screen and (min-width:768px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
}   
.cardscontainer{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}
.card-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.card-maincontent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-title{
    font-size: 2.2rem;
    font-weight: bold;
}
.card-para{
    color: var(--gray);
    font-size: 1rem;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 1.3rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border-radius: 10px;
    gap: 1rem;
    background-color:  #6d7890;
}
.card-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-icon{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.cardss-title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.card-description{
    color: white;
}
.feature-card:nth-child(1){
    background-color:  #4a90e2;
}
.feature-card:nth-child(2){
    background-color:  #FF6289;
}
.feature-card:nth-child(3){
    background-color:  #fcbf58;
}
.feature-card:nth-child(4){
    background-color:  #44bfc3;
}
.feature-card:nth-child(5){
    background-color:  #77b05d;
}
.feature-card:nth-child(6){
    background-color:  #7d78b1;
}
@media screen and (max-width:786px){
    .card-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.testimonal-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testtitle{
    font-weight: bold;
    font-size: 1.875rem;
}
.Testimonial-Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem;
}
.testimonial-card{
    border: 1px solid rgb(171,163,163);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-text{
    color: #555;
    font-size: 0.87rem;
}
.avatar-svg{
    height: 5rem;
    width: 5rem;
}
.testimonal-name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonal-descrip{
    font-size: 0.87rem;
    color: #777;
}